body{
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;

}
.carousel{
height: 600px;
transform: translateY(-150px);

}
.carousel .carousel-item{
    width: 400px;
}
.carousel .carousel-item img{
width: 100%;
border-radius: 5px;
}
.carousel-item h3{
width: 50%;
  padding: 20px;
  position: fixed;
  background-color: #00000040;
  color: aliceblue;
  bottom: -50px;
  font-family: 'Tangerine', cursive;
  transition: 0.5s ease-in-out bottom;
}
.carousel-item h3:hover{
    bottom: 0;
    background-color: black;
    color: aliceblue;

}

.order{
    transform: translateY(-100px);
    color: #000;
    background-color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
    width: max-content;
    height: 50px;
    margin: 0;
}

h2{
    color: aliceblue;
    font-family: 'Tangerine', cursive;
    font-size: 112px;
}

.fixed-action-btn{
    bottom: 30px;
}

.fa fa-paint-brush{
    color: aliceblue;
}